@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Play", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.body--active-menu {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  /*min-width: 100%;*/
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #292929;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero:after {
    display: none;
  }
}
.hero:before {
  content: url("../img/r.png");
  position: absolute;
  bottom: -1.1111111111rem;
  right: 10%;
}

.hero__title-section {
  width: 41%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 17.9444444444rem;
    height: 17.9444444444rem;
    background: url("../img/Ellipse 5 tablets.png") center center/contain no-repeat;
    margin-bottom: 3.3333333333rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 3.8888888889rem 0;
  background: url("../img/Ellipse 5.png") right center/40% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 2.8888888889rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.3888888889rem;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 8%;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 32px;
    line-height: 36px;
    padding: 0 10%;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
  margin-bottom: 2rem;
  padding-right: 13%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 23%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 10%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 2.2222222222rem;
  height: 2.2222222222rem;
}

.menu {
  margin: 0 30px;
}
@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -110%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 4;
    background-color: #313131;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
}
.menu--active {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  line-height: 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
    line-height: 4rem;
  }
}

.menu__item {
  margin-right: 1rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  color: #292929;
  font-family: "Play";
  line-height: 1rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.5555555556rem;
  padding-top: 5px;
}

.phone-number__icon-elem {
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  margin-right: 0.3333333333rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 0.2777777778rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.0555555556rem;
  height: 2.2222222222rem;
  margin-right: 1rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  line-height: 1rem;
  max-width: 6.3333333333rem;
}

.feature__img {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: bold;
  color: #FFFFFF;
  padding: 1rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  background: #E01F3D;
  border: none;
}
.btn:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  background: transparent;
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.0555555556rem;
  text-transform: none;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 2.6666666667rem;
  line-height: 2.8888888889rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.7777777778rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 1.7777777778rem;
    line-height: 2rem;
  }
}

.headline__container {
  margin-top: 5.6111111111rem;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 1rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 1.7777777778rem;
    line-height: 2rem;
  }
}

.headline__subtitle {
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  color: #666666;
  padding: 0 26%;
  margin-bottom: 2.8888888889rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 3%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.1111111111rem;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}
.benefits__item:before {
  content: url("../img/Combined shape 2204.png");
  position: absolute;
  top: 2.2222222222rem;
  right: 0;
  -webkit-transform: translatex(50%);
          transform: translatex(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper:last-child {
    margin-bottom: 0;
  }
}

.benefit__title {
  font-weight: 700;
  font-size: 1.3333333333rem;
  line-height: 1.5555555556rem;
  margin-bottom: 0.3888888889rem;
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 0.6666666667rem;
  }
}

.benefit__desk {
  color: #666666;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  padding: 0 15%;
}
@media screen and (max-width: 480px) {
  .benefit__desk {
    padding: 0;
  }
}

.benefit__icon {
  height: 4.1666666667rem;
  width: 3.8888888889rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
}
.benefits-section:before {
  content: url("../img/Vector 2.png");
  position: absolute;
  bottom: -0.8888888889rem;
  left: 0;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.3333333333rem 5.9444444444rem 2.3333333333rem 2.3333333333rem;
  margin-bottom: 0.8333333333rem;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.2222222222rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 1.7777777778rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 1.3333333333rem;
  line-height: 1.5555555556rem;
  margin-bottom: 1.5rem;
}

.reviews__text {
  color: #666666;
  font-size: 0.8888888889rem;
  margin-bottom: 2.1111111111rem;
}

.reviews__autor {
  font-weight: bold;
  line-height: 1.1666666667rem;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background-color: #181818;
}

.order-section__title {
  color: white;
  font-weight: 700;
  font-size: 2.6666666667rem;
  line-height: 2.8888888889rem;
  text-transform: uppercase;
  padding: 3.5rem 0rem 0rem 0rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.5rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
    margin-bottom: 0.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .form__col {
    margin-bottom: 0.8888888889rem;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5555555556rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__block--textarea {
  margin-bottom: 1.1111111111rem;
}

.form__title {
  color: #FFFFFF;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  margin-bottom: 0.3333333333rem;
  margin-right: 0.5555555556rem;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6666666667rem;
  border: 0.1666666667rem solid transparent;
  border-radius: 0.2222222222rem;
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.5555555556rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.3333333333rem;
}
.form__controls--checkbox {
  margin-bottom: 2.6666666667rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.5555555556rem;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/v.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: white;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  color: white;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
}

.fixed-menu {
  position: fixed;
  top: 36%;
  right: 2%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.1666666667rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}

.fixed-menu__link {
  width: 1.0555555556rem;
  height: 1.0555555556rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.2777777778rem;
  height: 0.2777777778rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-section {
  background: url(../img/map.png) center center no-repeat;
}

.hamburger {
  position: fixed;
  top: 4%;
  right: 4%;
  width: 1.4444444444rem;
  height: 1.1111111111rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  margin-top: 0.3888888889rem;
  cursor: pointer;
  z-index: 15;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 0.2222222222rem;
  border-radius: 0.5555555556rem;
  -webkit-transition: background-color 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s, opacity 0.3s;
  transition: transform 0.3s, background-color 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.hamburger--active .hamburger__plank:nth-child(1) {
  opacity: 0;
}
.hamburger--active .hamburger__plank:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger--active .hamburger__plank:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-6px) translateX(6px);
          transform: rotate(-45deg) translateY(-6px) translateX(6px);
}

.footer {
  position: absolute;
  top: 97%;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .footer__container {
    margin-bottom: 1.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts {
  font-style: normal;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 1.1111111111rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .contacts__adress {
    margin-bottom: 0.6666666667rem;
  }
}

@media screen and (max-width: 768px) {
  .phone-number__text {
    color: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .phone-number__text {
    color: #292929;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socials__item {
  margin-right: 0.5555555556rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.products-section {
  background: #F5F5F5;
}

.product-slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 5.3333333333rem 1.6666666667rem;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__img {
  height: 25.1111111111rem;
  width: 25.1111111111rem;
}
@media screen and (max-width: 768px) {
  .product__img {
    display: none;
  }
}

.product__menu {
  margin-bottom: 1.3888888889rem;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .product__menu {
    display: none;
  }
}

.product__menu:hover .prodact__menu-items {
  display: block;
}

.prodact__menu-items {
  position: absolute;
  background: #FFFFFF;
  opacity: 80%;
  padding: 1.5555555556rem;
  width: 15.1666666667rem;
  height: 16.3333333333rem;
  top: 100%;
  display: none;
}

.product__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5555555556rem;
}
.product__list-items:last-child {
  margin-bottom: 0;
}

.product__components {
  margin-left: 3.2777777778rem;
}
@media screen and (max-width: 768px) {
  .product__components {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .product__components::before {
    content: url("../img/Ellipse 62.png");
  }
}

.product__title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.3333333333rem;
  color: #292929;
  text-transform: uppercase;
}

.product__text {
  margin-bottom: 1.5555555556rem;
  color: #666666;
}

.product__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__features-item {
  margin-right: 4.7777777778rem;
}
.product__features-item:last-child {
  margin-right: 0;
}

.product__feautures-item-name {
  color: #666666;
  font-size: 0.8888888889rem;
}

.product__feautures-item-text {
  font-size: 1rem;
  font-weight: bold;
}

.product__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__shop-price {
  font-size: 2rem;
  line-height: 3.3333333333rem;
  margin-right: 13px;
}