$containerwidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors

$grey:#F5F5F5;

@import "media";

//z-indexes

$z-fixed-menu: 100;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "layout";

//components
@import "./components/hero";
@import "./components/header";
@import "./components/features";
@import "./components/feature";
@import "./components/btn";
@import "./components/section";
@import "./components/headline";
@import "./components/benefits";
@import "./components/benefit";
@import "./components/benefits-section";
@import "./components/reviews";
@import "./components/interactive-avatar";
@import "./components/order-section";
@import "./components/form";
@import "./components/radio";
@import "./components/fixed-menu";
@import "./components/map-section";
@import "./components/hamburger";
@import "./components/footer";
@import "./components/products-section";