.benefits{
    display: flex;

    @include phones{
        flex-direction: column;
    }
}

.benefits__item{
    flex:1;
    padding: 0 3%;
    position: relative;

    @include phones{
        padding: 0;
        margin-bottom: rem(20px);
    }

    &:before{
        content: url("../img/Combined shape 2204.png");
        position: absolute;
        top:rem(40px);
        right: 0;
        transform: translatex(50%);

        @include tablets{
            display: none;
        }

        @include phones{
            display: none;
        }
    }

    &:first-child{
        padding-left: 0;
    }
    &:last-child{
        padding-right: 0;

        &:before{
            display: none;
        }
    }
}
