.btn {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 18px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    background: #E01F3D;
    border: none;

    &:hover {
        background: #CA1B36;
    }

    &--theme--transparent{
        background: transparent;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-transform: none;
    }

}



