
.comments__avatars{
    display:flex;
    justify-content: center;
    align-items: center;
}

.comments__avatar{
    width: 74px;
    height: 74px;
    border: 6px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

  
}
.comments__avatar.active{
    border-color: #E01F3D;
}

.comments__link{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

.comments__image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}