.container--center{
    margin-top: rem(64px);
}

.comments__content{
    min-height: rem(348px);
    background: #F8FAF9;
    padding: rem(42px) rem(107px) rem(42px) rem(42px);
    position: relative;
    margin-bottom: rem(15px);
    overflow: hidden;
    display: flex;

    &:before{
        content: "";
        display: block;
        width: rem(83px);
        height: rem(83px);
        background: #FFFF;
        border-radius: 50%;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        top:rem(-58px);
    }
}

.comment.active{
    opacity: 1;
    left:initial;
    position: relative;
}

.comment{
    display: flex;
    max-width: 100%;
    opacity: 0;
    left:-9999px;
    transition: opacity 0.3s;
    position: absolute;
}

.comment:nth-child(1){
    position: relative;
    left:initial;
}

.comment__photo{
    flex-shrink: 0;
    margin-right: rem(20px);
    width: rem(253px);
    z-index: 5;

    @include tablets {
        width: 50%;
    }
}

.comment__pic{
    max-width: 100%;
    display: block;
}

.comment__desc{
    padding-top: rem(10px);
    display: flex;
    flex-direction: column;
    margin-left: rem(40px);
}

.comment__title{
    font-weight: bold;
    font-size: rem(24px);
    line-height: rem(28px);
    margin-bottom: rem(27px);
    margin-top: rem(30px);
}

.comment__text{
    color: #666666;
    font-size: rem(16px);
    margin-bottom: rem(38px);
}

.comment__author{

    font-weight: bold;
    line-height: rem(21px);
    
}