.fixed-menu {
    position: fixed;
    top: 37%;
    right: 9%;
    z-index: $z-fixed-menu;
}

.fixed-menu__item {
    margin-bottom: 3px;
    
    &--active{
        .fixed-menu__link{
            border-color:#E01F3D;
        }
    }
}

.fixed-menu__link {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative;

    &:before{
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #292929;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
    }

}