.headline__container{
    margin-top: 101px;
}

.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: 18px;
}

.headline__subtitle {
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    padding: 0 26%;
    margin-bottom: 52px;
}