header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
}

.menu__item{
    margin-right: 18px;

    &:last-child{
        margin-right: 0;
    }
}

.menu__link{
    text-decoration: none;
}

.phone-number{
    color: #292929;
    font-family:'Play';
    line-height: 18px;
    text-decoration: none;
    display: flex;
    align-items:center;
    margin-right: 28px;
}

.phone-number__icon-elem{
    width: 14px;
    height: 14px;
    margin-right: 6px;
}