.headline__container{
    margin-top: rem(101px);
}

.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(18px);

    @include phones{
        font-size: rem(32px);
        line-height: rem(36px);
    }
}

.headline__subtitle {
    font-size: rem(16px);
    line-height: rem(19px);
    color: #666666;
    padding: 0 26%;
    margin-bottom: rem(52px);

    @include phones{
        padding: 0 3%;
    }
}