.order-section {
    background-color: #181818;
}

.order-section__title {
    color: #ffff;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    padding: 63px 0px 0px 0px;
}