.order-section {
    background-color: #181818;
}

.order-section__title {
    color: #ffff;
    font-weight: 700;
    font-size: rem(48px);
    line-height: rem(52px);
    text-transform: uppercase;
    padding: rem(63px) rem(0px) rem(0px) rem(0px);
}