.section{
    height: 100vh;
    min-height: rem(650px);
    display: flexbox;
    flex-direction: column;
    justify-content: center;
}

.section__title{
    font-size: rem(48px);
    line-height: rem(52px);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: rem(32px);
    text-align: center;

    @include phones{
        font-size: rem(32px);
        line-height: rem(36px);
    }
}